.content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  position: relative;
  height: 30px;
  padding: 16px;
}

.ch-avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-image: url(https://loremflickr.com/32/32);
  margin-right: 10px;
}

.ch-name {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  font-weight: bold;
}
.ch-setting {
  position: absolute;
  right: 16px;
}

.content-picture {
  background-image: url(https://loremflickr.com/614/700);
  height: 700px;
  width: 100%;
  background-size: cover;
}

.content-symbols {
  margin-top: 4px;
  padding: 0px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 40px;
  width: 586px;
}

.content-symbols .cs-heart,
.cs-chat {
  margin-right: 8px;
}

.content-symbols .cs-bookmark {
  position: absolute;
  bottom: 4px;
  right: 10px;
}

.content-likes,
.content-mess,
.content-comment,
.content-time,
#a-comment,
.content-newComment {
  height: 17.6px;
  width: 588px;
  padding: 0 16px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 2px 0;
}

span {
  font-weight: bold;
}

#a-comment {
  margin: 0 0;
  font-size: 14px;
  color: #999;
}

#time {
  color: #999;
  font-size: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 580px;
}

#newComment {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #999;
  font-size: 14px;
}

#com {
  border: none;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#com:focus {
  outline: none;
}
